<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
	<title>悖论の聊天室</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="jquery.mCustomScrollbar.min.css">  	
</head>
<body>
	<div class="mask">
	<div class="content">
		<header>
				{% if form %}
			<form action="" id="shuru">
        	                <input type="text" id="messages" autocomplete="off" placeholder="信息弹准备，biubiubiu~~~~~" />
			</form>
				{% else %}
			<form action="/login" id="shuru" method="post">
				<input type="text" name = 'niname' id="nicheng" autocomplete="off" placeholder="输入昵称，开始绅士之旅(づ￣3￣)づ╭❤～" />
			</form>
				{% endif %}
		</header>
		<div class="room mCustomScrollbar" data-mcs-theme="light-thin">
			
		</div>
		<footer style='display: none;'>
			Copyright &copy 2015 <a href="http://bitibiti.com">beilun</a> All Rights Reserved
		</footer>
	</div>
	</div>
	<script type="text/javascript" src="jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
	{% if form %}
		<script type="text/javascript" src="script.js"></script>
	{% endif %}
</body>
</html>
